{#
/**
 * @file
 * Carousel component.
 *
 * Available variables:
 * - attributes: raw.
 * - modifier_class: string.
 * - children: array of items.
 */
#}

{% spaceless %}
  <div class="carousel js-carousel {{ drupal_class }}"{{ attributes }}>
    {% for child in children %}
      <div class="carousel__node js-carousel-node">
        {{ child }}
      </div>
    {% endfor %}
  </div>
{% endspaceless %}
