// Accordion
//
// Markup: collapse-accordion.twig
//
// Style guide: Component.Accordion

.accordion {
}

.accordion__item {
  border: $base-border;
  margin-bottom: $small-spacing;
}

.accordion__title {
}

.accordion__title-button {
  @extend %button-link;
  @include heading-bold;
  padding: $small-spacing;
  font-size: $base-font-size;
  width: 100%;
}

.accordion__content {
  max-height: 0;
  overflow: hidden;
  padding: 0 $small-spacing;

  .accordion__item.is-active > & {
    max-height: 1000rem;
  }
}
