.responsive-media {
  display: block;
  overflow: hidden;
  padding: 0;
  position: relative;
  background: $secondary-background;
  z-index: 5;

  &--1-1-all {
    @include responsive-ratio(1,1);
  }

  // Landscape orientation.
  &--2-1-all {
    @include responsive-ratio(2,1);
  }

  &--3-1-all {
    @include responsive-ratio(3,1);
  }

  &--3-2-all {
    @include responsive-ratio(3,2);
  }

  &--4-3-all {
    @include responsive-ratio(4,3);
  }

  &--5-4-all {
    @include responsive-ratio(5,4);
  }

  &--16-9-all {
    @include responsive-ratio(16,9);
  }

  &--21-9-all {
    @include responsive-ratio(21,9);
  }

  img,
  picture,
  iframe,
  embed,
  object,
  video {
    @extend %absolute-cover;
    width: 100%;
    height: 100%;
  }

  img {
    @extend %img-fit;
    transition: all $base-animation;
    z-index: 5;
  }
}

.responsive-media__placeholder {
  filter: blur(4rem);
  transform: scale(1);
  z-index: 1;
}

.responsive-media__picture {
  img {
    opacity: 0;

    &.is-loaded {
      opacity: 1;
    }

    a:hover & {
      transform: scale(1.1);
    }
  }
}
