{#
/**
 * @file
 * Wysiwyg component.
 *
 * Available variables:
 * - attributes: raw.
 * - modifier_class: string.
 * - text: raw.
 */
#}

<blockquote class="quote {{ modifier_class }}"{{ attributes }}>
  <p class="quote__heading">{{ heading }}</p>
  <cite class="quote__cite">{{ cite }}</cite>
</blockquote>
