{#
/**
 * @file
 * Grid layout component.
 */
#}

<div class="grid grid--gutter-lg {{ modifier_class }}"{{ attributes }}>
  {% for child in children %}
    {% set col_classes = 'grid__col-' ~ child['#columns']|join(' grid__col-')%}
    {% set content = child.content ?: child %}

    <div class="{{ col_classes }}">
      {{ content }}
    </div>
  {% endfor %}
</div>
