{#
/**
 * @file
 * Grid example.
 */
#}

<div class="grid grid--gutter grid--col-1@xsmall grid--col-2@small grid--col-3@medium">
  <div class="grid__col">
    {{ content }}
  </div>
  <div class="grid__col">
    {{ content }}
  </div>
  <div class="grid__col">
    {{ content }}
  </div>
</div>
