{#
/**
 * @file
 * Grid example.
 */
#}

<div class="grid grid--gutter">
  <div class="grid__col-12@xsmall grid__col-7@small">
    <div class="kss-modifier__default-name kss-style">.grid__col-12@xsmall.grid__col-7@small</div>
    <div class="kss-modifier__example">
      <div class="grid grid--gutter grid--col-1@xsmall grid--col-3@small">
        <div class="grid__col">
          <p>
            0.0
            Bits 'n bobs squiffy morris dancers real ale Geordie on the pull fried toast alright geezer therewith.
          </p>
        </div>
        <div class="grid__col">
          <p>
            0.1
            Bits 'n bobs squiffy morris dancers real ale Geordie on the pull fried toast alright geezer therewith,
            noodle Shakespeare full English breakast marmite codswallop beefeater.
          </p>
        </div>
        <div class="grid__col">
          <p>
            0.2
            Bits 'n bobs squiffy morris dancers real ale Geordie on the pull fried toast alright geezer therewith.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="grid__col-12@xsmall grid__col-5@small">
    <div class="kss-modifier__default-name kss-style">grid__col-12@xsmall.grid__col-5@small</div>
    <div class="kss-modifier__example">
      <div class="grid grid--gutter grid--col-1@xsmall grid--col-2@small">
        <div class="grid__col">
          <p>
            0.0
            Bits 'n bobs squiffy morris dancers real ale Geordie on the pull fried toast alright geezer therewith.
          </p>
        </div>
        <div class="grid__col">
          <p>
            0.1
            Bits 'n bobs squiffy morris dancers real ale Geordie on the pull fried toast alright geezer therewith,
            noodle Shakespeare full English breakast marmite codswallop beefeater.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
