{#
/**
 * @file
 * Buttons example.
 */
#}

<a href="{{ url }}" class="button {{ modifier_class }}">link</a>
<button class="button {{ modifier_class }}">button</button>
<input class="button {{ modifier_class }}" type="button" value="input">
