%clearfix {
  @include clearfix;
}

%container {
  margin:0 auto;
  padding: 0 $grid-gutter-sm;
  width: 100%;

  @include mappy-bp(medium) {
    max-width: $container-width;
  }
}

%img-fit {
  @include img-fit();
}

%absolute-cover {
  @include absolute-cover();
}

%absolute-center {
  @include absolute-center();
}

// Full width containers in limited width parents
%full-width {
  @include full-width();
}

%flex-row {
  @include flex-row();
}

%flex-column {
  @include flex-column();
}

%inline-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -($small-spacing / 2);

  > * {
    padding: 0 ($small-spacing / 2);
  }
}

%text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

%visually-hidden {
  @include visually-hidden;
}

%separator--right {
  &::after {
    content: '\2044';
    float: right;
    margin-left: $small-spacing;
  }

  &:last-child::after {
    content: none;
  }
}

%button-link {
  @extend %a;
  border: none;
  width: auto;
  background: transparent;
  text-align: inherit;
  cursor: pointer;

  &:hover,
  &:focus {
    outline: none;
  }
}
