{#
/**
 * @file
 * Tile example.
 */
#}

<div class="grid grid--col-2@xsmall grid--col-6@small">
  <div class="grid__col">

    <!-- copy this -->
    <div class="tile">
      <div class="tile__content">
        <div class="user">
          <div class="user__name">@unsplash</div>
        </div>
      </div>
      <div class="tile__image">
        <div class="image">
          <a href="javascript:;">
            <img src="//picsum.photos/300/300?image=517" alt="">
          </a>
        </div>
      </div>
    </div>

    <!-- copy this -->
    <div class="tile">
      <div class="tile__content">
        <div class="user">
          <div class="user__name">@noimage</div>
        </div>
      </div>
    </div>

  </div>
  <div class="grid__col">

    <!-- copy this -->
    <div class="tile tile--1-2">
      <a href="javascript:;">
        <div class="tile__content flex flex--column">
          <div class="flex__item-grow">
            <div class="body">
              <h4>Majesty's pleasure naff off.</h4>
            </div>
          </div>
          <div class="0">
            <div class="user">
              <div class="user__name">@unsplash</div>
            </div>
          </div>
        </div>
        <div class="tile__image">
          <div class="image">
            <img src="//picsum.photos/300/600?image=1076" alt="">
          </div>
        </div>
      </a>
    </div>

  </div>
</div>
