.page-title {
  @include heading-bold;
  font-size: $heading-font-size;
  line-height: 1.2;
  margin-bottom: $small-spacing;

  @include mappy-bp(medium) {
    font-size: ($heading-font-size * 1.2);
  }
}

// ============================
.post {
  position: relative;
}

.post__inner {
  margin: 0 auto;
}

.post__header {
  margin-bottom: $base-spacing;
}

.post__title {
  @include heading-bold;
}

.post__meta {
  color: $secondary-color;
}

.post__teaser {
  color: $base-color;
}
