.page-title {
  @include heading-regular;
  font-size: 2.6rem;
  line-height: 1.2;
  margin-bottom: $small-spacing;

  @include mappy-bp(medium) {
    font-size: 3.8rem;
  }
}

// ============================
.post {
  position: relative;
}

.post__inner {
  margin: 0 auto;
}

.post__header {
  margin-bottom: $base-spacing;
}

.post__title {
  @include heading-regular;
}

.post__meta {
  color: $secondary-color;
}

.post__teaser {
  color: $base-color;
}
