{#
/**
 * @file
 * Wysiwyg component.
 *
 * Available variables:
 * - attributes: raw.
 * - modifier_class: string.
 * - content: raw.
 */
#}

{% spaceless %}
  <div class="wysiwyg {{ modifier_class }}"{{ attributes }}>
    {{ content }}
  </div>
{% endspaceless %}
