{#
/**
 * @file
 * Wysiwyg component.
 *
 * Available variables:
 * - attributes: raw.
 * - modifier_class: string.
 * - content: raw.
 */
#}

<div class="wysiwyg {{ drupal_class }}"{{ attributes }}>
  {{ content }}
</div>
