// Hero banner
//
// Markup: hero-banner.twig
//
// Style guide: Component.Hero banner

.hero-banner {
  position: relative;
  text-align: center;
}

.hero-banner__content {
  margin: 0 auto;
  width: 100%;
  max-width: 80rem;
  position: relative;
  padding: $base-spacing;
  z-index: 10;

  @include mappy-bp(small) {
    @include absolute-center();
    color: $white;
  }
}

.hero-banner__image,
.hero-banner__video {
  picture {
    &::after {
      @include absolute-cover();
      content: '';
      background: rgba($base-background, .2);
    }
  }
}

.hero-banner__title {
  @include heading-bold;
  font-size: 3.3rem;
  line-height: 1.4;
}

.hero-banner__text {
  margin-top: $small-spacing;
}

.hero-banner__cta-button,
.hero-banner__play-button {
  margin-top: $base-spacing;
}
