	
	<!--DO NOT REMOVE-->
	{{ patternLabFoot | raw }}

	<script src="//kickvm.test/core/assets/vendor/jquery/jquery.min.js"></script>
	<script src="//kickvm.test/core/assets/vendor/jquery-once/jquery.once.min.js"></script>
	<script src="//kickvm.test/core/assets/vendor/domready/ready.min.js"></script>
	<script src="//kickvm.test/core/assets/vendor/picturefill/picturefill.min.js"></script>
	<script src="//kickvm.test/core/misc/drupalSettingsLoader.js"></script>
	<script src="//kickvm.test/core/misc/drupal.js"></script>
  <script src="//kickvm.test/core/misc/drupal.init.js"></script>

	<script src="../../../js/lib/modernizr.min.js"></script>
	<script src="../../../js/lib/ofi.min.js"></script>
	<script src="../../../js/scripts.js?{{ cacheBuster }}"></script>


	<script src="//cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.min.js"></script>
	</body>
</html>
