{#
/**
 * @file
 * Typography example.
 */
#}

{% spaceless %}
  <div class="grid grid--gutter">
    <div class="grid__col-12@xsmall grid__col-4@large">
      <h1 class="page-title">Page title <span class="font-small"><code class="code">.page-title</code> 3.64/4.368</span></h1>
    </div>
    <div class="grid__col-12@xsmall grid__col-4@large">
      <div class="text">
        <p>Type is all set with the <code>rems</code>, so font-sizes and spacial relationships can be responsively sized based
          on a single <code>&lt;html&gt;</code> font-size property. Out of the box, Zero never changes the <code>&lt;html&gt;</code>
          font-size, but it's there in case you need it for your project. All measurements are still base 10 though so, an
          <code>&lt;h1&gt;</code> with <code>3.64rem</code> font-size just means <code>36.4px</code>.</p>
        <p>The typography base is <strong>Helvetica Neue</strong>, set at 1.4rem (14px) over a 1.7 line height (23.8px).
          Other type basics like <a href="#">anchors</a>, <strong>strong</strong>, <em>emphasis</em>, and <u>underline</u>
          are all obviously included.</p>
      </div>
    </div>
    <div class="grid__col-12@xsmall grid__col-4@large">
      <div class="text">
        <h1>h1 & .h1 <code class="code">2.512/3.24</code></h1>
        <h2>h2 & .h2 <code class="code">2.11/2.84</code></h2>
        <h3>h3 & .h3 <code class="code">1.712/2.44</code></h3>
        <h4>h4 & .h4 <code class="code">1.312/2.04</code></h4>
        <h5>h5 & .h5 <code class="code">0.912/1.64</code></h5>
        <h6>h6 & .h6 <code class="code">0.512/1.24</code></h6>
      </div>
    </div>
  </div>
{% endspaceless %}
