{#
/**
 * @file
 * Lists example.
 */
#}

<div class="grid grid--horizontal grid--gutter grid--col-1@xsmall grid--col-4@medium">
  <div class="grid__col">

    <!-- copy this -->
    <ul class="0">
      <li>Unordered default</li>
    </ul>

    <!-- copy this -->
    <ol class="0">
      <li>Ordered default</li>
    </ol>

  </div>

  <div class="grid__col">

    <!-- copy this -->
    <ul class="unordered-list">
      <li>Unordered styled</li>
    </ul>

    <!-- copy this -->
    <ol class="ordered-list">
      <li>Ordered styled</li>
    </ol>

  </div>

  <div class="grid__col">

    <!-- copy this -->
    <dl class="0">
      <dt>Definition title</dt>
      <dd>Definition description</dd>

      <dt>Definition title</dt>
      <dd>Definition description</dd>
    </dl>

  </div>

  <div class="grid__col">

    <!-- copy this -->
    <ul class="inline-list">
      <li>One</li>
      <li>Two</li>
      <li>Three</li>
      <li>Four</li>
    </ul>

  </div>
</div>
