{#
/**
 * @file
 * Tables example.
 */
#}

<table class="0">
  <thead>
  <tr>
    <th>Make</th>
    <th>Model</th>
    <th>Year</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Honda</td>
    <td>Accord</td>
    <td>2009</td>
  </tr>
  <tr>
    <td>Nissan</td>
    <td>Sentra</td>
    <td>20111</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="3">Summary</td>
  </tr>
  </tfoot>
</table>
