// Forms
//
// Markup: forms.twig
//
// Style guide: Common.Forms

fieldset {
  border: $base-border;
  margin: 0 0 $small-spacing;
  padding: $base-size;
  padding-bottom: 0;
}

legend {
  // Reset the entire legend element to match the `fieldset`.
  width: 100%;
  font-weight: 600;
  padding: 0 1rem;
  margin-bottom: 0;
  line-height: inherit;
}

// Reset fonts for relevant elements.
input,
button,
select,
textarea,
label {
  display: block;
  font: inherit;
  font-weight: normal;
  color: inherit;
}

label {
  @include heading-regular;
  @extend %text-truncate;
  margin-bottom: $small-spacing / 2;

  &.required::after {
    content: "*";
  }

  abbr {
    display: none;
  }
}

select,
textarea,
input:not([type]),
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  appearance: none;
  background-color: $white;
  border: $form-input-border;
  border-color: $form-input-border-color;
  border-radius: $base-border-radius;
  box-shadow: $form-box-shadow;
  box-sizing: border-box;
  margin-bottom: ($small-spacing / 2);
  padding: $form-input-padding ($form-input-padding * 1.5);
  transition: border-color $base-animation;
  width: 100%;

  &:hover {
    border-color: darken($form-input-border-color, 20%);
  }

  &:focus {
    border-color: darken($form-input-border-color, 40%);
    box-shadow: $form-box-shadow-focus;
    outline: none;
  }

  &:disabled {
    background-color: darken($white, 2%);
    cursor: not-allowed;

    &:hover {
      border-color: $form-input-border-color;
    }
  }
}

textarea {
  resize: vertical;
  height: auto;
}

input[type="search"] {
  -webkit-appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: $small-spacing / 2;

  + label {
    display: inline-block;
  }
}

input[type="file"] {
  margin-bottom: $small-spacing;
  width: 100%;
}

select {
  &::-ms-expand {
    display: none;
  }
;

  // Undo the Firefox inner focus ring.
  &:focus:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
}

.form-item {
  margin-bottom: $base-spacing;
}

.form-actions {
  @extend %flex-row;
}

.form-select-wrapper {
  &::before {
    content: "\00A0";
    background: url(#{$svg_src}/icon__down.svg) no-repeat;
    background-size: contain;
    height: 1.6rem;
    width: 1.6rem;
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translate(0, -50%);
    pointer-events: none;
  }

  select {
    padding-right: 3.4rem;
  }
}

.form-checkbox,
.form-radio {
  position: absolute;
  opacity: 0;
  z-index: -1; /* Put the input behind the label so it doesn't overlay text */

  ~ label {
    padding-left: $base-size + 1;

    &::before {
      content: "\00A0";
      float: left;
      padding: .1rem;
      margin-left: -($base-size + 1);
      height: $base-size;
      width: $base-size;
      border: $form-input-border;
      border-color: $form-input-border-color;
    }
  }

  &:hover ~ label {
    &::before {
      @extend input:hover;
    }
  }

  &:focus ~ label {
    &::before {
      @extend input:focus;
    }
  }

  &:checked ~ label {
    &::before {
      background: url(#{$svg_src}/icon__checkmark.svg) no-repeat;
      background-size: contain;
    }
  }

  &:disabled ~ label {
    cursor: not-allowed;

    &::before {
      @extend input:disabled;
    }
  }
}

.form-radio {
  ~ label::before {
    border-radius: 50%;
  }
}
