// Typography
//
// Markup: typography.twig
//
// Style guide: Common.Typography

@mixin fontHGroup($baseSize) {
  @for $i from 1 through 6 {
    $size: $baseSize - ($i * 0.4);

    h#{$i},
    .h#{$i} {
      font-size: $size;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

p {
  margin: 0 0 $small-spacing;
}

%a,
a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-animation;

  &:active,
  &:focus,
  &:hover {
    color: lighten($action-color, 10%);
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

blockquote {
  margin: 0;
}

img,
picture {
  display: block;
  margin: 0;
  max-width: 100%;
  height: auto;
}

svg,
img[src*="svg"] {
  height: 100%;
  width: 100%;
}

%code,
.code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 75%;
  font-weight: normal;
  vertical-align: middle;
  background: $light-gray;
  border-radius: .4rem;
}

// ============================
.text {
  position: relative;
  font-size: 1.6rem;
  width: 100%;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include heading-bold;
    margin: 0 0 $base-spacing 0;
    line-height: 1.4;
  }

  h6 {
    text-transform: uppercase;
  }

  p,
  blockquote {
    margin: 0 0 $base-spacing 0;
  }

  ul {
    @extend %default-ul;
  }

  ol {
    @extend %default-ol;
  }

  code {
    @extend %code;
  }

  // Heading tags
  @include fontHGroup($heading-font-size * 0.8);

  @include mappy-bp(medium) {
    @include fontHGroup($heading-font-size);
  }
}
